body {
  margin: 0;
  padding: 0;
  scrollbar-width: none;
}
::-webkit-scrollbar {
  display: none;
}

/*navbar*/
.navbar {
  position: fixed;
  z-index: 1111;
}
.navbar-brand {
  font-size: 50 px;
  font-family: "Gugi", cursive;
}
/*hero*/
.jumbotron {
  background-image: url(../img/grey-geometrical-shapes-background.resized.jpg);
  background-size: cover;
  height: 1080px;
  position: relative;
  overflow: hidden;
  margin-top: -200px;
  text-shadow: 2px 2px 3px black;
}
.jumbotron::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;

  background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  position: absolute;
  bottom: 0;
}
.text-container,
.hi {
  animation: sapaan 1s forwards 1.7s;
  position: relative;
  z-index: 1;
}
/* about */
.about {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.9));
  padding-top: 100px;
  padding-bottom: 100px;
}
.about h2,
p {
  padding-bottom: 25px;
}

/* portfolio */
.portfolio {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
}
/* contact */
.contact {
  padding-top: 50px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 1));
  padding-bottom: 80px;
}
.contact form {
  margin-top: 50px;
  padding: 25px;
  border: 1px solid #fa9c05;
  border-radius: 20px;
}

.contact h2 {
  padding-bottom: 0px;
}
/* footer */
.footer {
  height: 30px;
  justify-content: center;
  text-align: center;
}
footer p {
  padding-top: 5px;
}
footer p a {
  text-decoration: none;
  color: black;
}
/* mobile */
@media (max-width: 992px) {
  .navbar {
    background-size: contain;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5));
    box-shadow: 1px 1px 5px black;
  }
  .navbar a {
    text-decoration: none;
    color: black;
  }
}
/*desktop*/
@media (min-width: 992px) {
  .nav-link {
    margin-right: 30px;
  }

  .nav-link:hover::after {
    content: "";
    display: block;
    border-bottom: 3px solid #fa9c05;
    width: 50%;
    margin: auto;
    padding-bottom: 3px;
    margin-bottom: -8px;
  }

  .about h2,
  .portfolio h2 {
    width: 25%;
    border-bottom: 3px solid #fa9c05;
    margin: auto;
  }
  .contact h2 {
    padding-bottom: 15px;
    width: 25%;
    border-bottom: 3px solid #fa9c05;
    margin: auto;
  }
}

/* animasa */
@keyframes sapaan {
  0% {
    opacity: 0;
    margin-top: 0px;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    margin-top: 400px;
  }
}
@keyframes nav-brand {
  0% {
    margin-left: -90px;
  }
  100% {
    margin-left: 0;
  }
}
